[2020-03-30 14:20] bjrne opened #224 "UX: Make sure browser know which parts to auto-fill and password-save"

[2020-03-31 15:22] maltezacharias commented on #224
Clarification:
Username field is currently not recognized as such. When creating a new account, only the password is saved on the password reset page. Modify the username to be recognized as username field by the browser.

First part of this might be helpful:
https://developers.google.com/web/fundamentals/security/credential-management/save-forms

[2020-05-06 21:44] Baschdl opened #100 "Add geocoding"
Add better geocoding.

Minimal features:
- [ ] convert post code to city name
- [ ] state for each city
- ... @maltezacharias

[2020-05-26 22:50] kevihiiin opened #2 "Getting started refactoring"
- [x] Alles in die "matching" app schreiben
- [x] Alle migrations löschen
- [x] Model bauen?
- [x] Config bauen
- [x] Alte branches löschen

[2020-05-29 10:31] feeds opened #3 "Refactor the color scheme"
It feels like the template colors are everywhere in the css, directly in the svgs ... magic numbers everywhere.

## Todo
- find a new color config file json/css.. whatever fits to be put into `match4everyone/config`
- with 2-5 base colors that are sparsely used EVERYWHERE to emphasise the two participants
- and try to integrate them into existing templates (especially map, home)

## Resources
- [C

[2020-05-29 10:43] feeds opened #4 "Add a random logo"
In general, the favicon is still from m4h, the random current logo is shitty

## Todo
- create a random logo
- create all favicon and logo svg's and pngs

## Resources
- `backend/static/img/favicon` and `backend/static/img/logo.svg`

[2020-05-29 11:29] feeds opened #5 "Add a maintainance page"
In general, it would be nice to close the website for maintainance.

## Todo
- page that can be displayed when stuff is not working, preferably with a cool maintainance gif

## Resources
- I guess you could google that

[2020-05-29 22:38] feeds opened #6 "Prevent User creation during login"
In general,  we want to prevent users from creating another account when they are logged in.
How do we prevent this?

Using the Permissions from django.auth?

[2020-05-30 12:20] kevihiiin commented on #6
Sounds like a good idea, maybe we can write a decorator similar to the `login_required` one

https://github.com/django/django/blob/8dabdd2cc559a66b519e2a88b64575d304b96ebe/django/contrib/auth/decorators.py#L38

- - -
Here is a way to implement it as a middleware:
https://stackoverflow.com/a/2255206/9356180

Maybe we can use more middlewares?
https://docs.djangoproject.com/en/3.0/topics/http/middle

[2020-05-30 19:03] Baschdl commented on #5
How do we wanna trigger the maintenance mode? A button on the profile page of a superuser?

Do we want a banner notifying our users about the upcoming maintenance?

Need to somehow reroute all our traffic to the maintenance page

[2020-05-30 20:26] Baschdl opened #8 "Mapbox vs OSM tile server"
Should we add the public OSM tile server as an option and make it the standard setting? With this, a first installation wouldn't be dependent on Mapbox

[2020-05-30 20:39] Baschdl opened #9 "User signup results in django.db.utils.DataError"
Signing up as User A results in `django.db.utils.DataError: value too long for type character varying(3)`

[2020-05-31 09:49] kevihiiin opened #11 "'Cookiecutter Django' Project Structure / Configuration"
### There is another project called [Cookiecutter Django](https://github.com/pydanny/cookiecutter-django) which is a template / skeleton for Django projects.

It includes a lot of functionality that we already have (sendgrid, flake8 linting, docker) and some features which are nice to have (mailhog, heroku deployment, celery configuration, sentry, different mail backends).

I think we can get some

[2020-05-31 19:40] feeds opened #12 "Staff permission management"
# Staff
* Staff users can have  different rights:
- viewing stats
- approving/deleting either type of user
- creating new staff users

Maybe it is helpful to use the django permissions here or get inspired by other projects?

[2020-05-31 19:57] kevihiiin commented on #12
Maybe we can solve issue #6 with this method as well:

There is a decorator where we can specify a specific test which users have to pass in order to get access to the view. We can either use the default one `user_passes_test` and supply a function / check or create a custom one if the check is needed often ([some ideas](https://github.com/match4everyone/match4everything/issues/6#issuecomment-6363

[2020-05-31 20:34] feeds commented on #12
Yes, I think thats a very easy way to go. @maltezacharias kept mentioning the django permission framework

Scroll to
Permissions and Authorization¶ or groups in [here](https://docs.djangoproject.com/en/3.0/topics/auth/default/)

this could also be a way

[2020-06-01 09:55] bjrne commented on #8
How much work would be needed for this though? Is it just a leaflet setting? Also, scope of this issue would probably include to adjust the mapbox api key warning, to whoever will work on this ;)

[2020-06-01 11:09] bjrne commented on #4
Will do!

[2020-06-01 11:19] bjrne commented on #3
So lets use the 1st & 3rd for one color and 4th & 5th for the other? I think 2&3 are lacking contrast. According to this tool, this selection should also be quite accessible in terms of distinction and contrast: https://www.color-blindness.com/coblis-color-blindness-simulator/

[2020-06-01 11:25] bjrne commented on #3
First color is #B35A0F

[2020-06-01 14:22] Baschdl commented on #8
It's basically just using another URL for the tiles

[2020-06-02 08:28] feeds commented on #3
But I think the colors are not really pretty... its just the first one that appear when I put `dual` into the kuler search box haha.

[2020-06-02 08:29] feeds commented on #5
maybe there is also something in the cookiecutter django @kevihiiin mentioned before

[2020-06-03 20:39] bjrne opened #13 "Integrate about page into django-cms"
A user should be able to upload own pictures and should be able to arrange them as on our current side. Maybe best with an own plugin which integrates the picture upload functionality.

- [ ] Remove our images and replace with an avatar
- [ ] Leave/create enough placeholders to facilitate easy adaptation by users who only know the basics of html

[2020-06-05 21:54] kevihiiin commented on #9
The error does only occur when using the Docker container.
I tried to run the system without Docker but with production settings (and SQLite instead of postgres) and it works.

So either docker or postgres is the issue

[2020-06-06 17:29] bjrne commented on #4
For future reference:
A website that checks the current configuration and hints for missing parts:
https://realfavicongenerator.net/favicon_checker?protocol=https&site=match4healthcare.de

[2020-06-13 20:24] bjrne commented on #12
It will probably be a join of these methods, there is a special case prepared by django for the `user_passes-test` since we're obviously not the first to implement this behaviour :wink: See https://docs.djangoproject.com/en/3.0/topics/auth/default/#the-permission-required-decorator

I will create a draft PR for this as a proof-of-concept.

[2020-06-13 20:27] bjrne opened #15 "Add BMBF logo"
(How) should we add the BMBF logo here? I guess it should not appear on instances of people setting this up hastily and forgetting to remove it, thus we should only include it in out demo-instance. We should probably create a demo-configuration and commit it in a subfolder of this repository as an example/starting point for new forks at some point?

Should we add the logo to the website in the mea

[2020-06-14 21:53] maltezacharias opened #16 "[JS] Generalise Mapview Coding"
Mapview source still clearly makes a distinction between A and B.
Traditionally this was necessary as they were differently displayed. Current version show's them similarly, so that distinction is no longer necessary.

[2020-06-14 23:22] maltezacharias opened #17 "[JS] Implement webpack build process"
**Topic:**
Implement webpack building process for javascript ressources

**Relevant issues:**

**Further description:**
Separates JS, CSS and used resources from the django backend. Provides the infrastructure for possible future integrations of modern javascript, e.g. Vue.js

**Alternative approaches that could be considered:**
Manually keep everything together and despair

**Todos**
- [X] Integr

[2020-06-15 11:13] Baschdl commented on #9
My best guess would be postgres from the error message

[2020-06-15 11:15] Baschdl commented on #15
Other take could be that we develop this platform within the same project so it should also include the logo

[2020-06-15 11:49] bjrne opened #19 "Creation of superuser fails"
This is due to the broken check here:
https://github.com/match4everyone/match4everything/blob/88edaa83a25483abc3be066b3b6df21fd791eaf7/backend/apps/matching/models/user.py#L52

In this configuration it you can be both, but not none, like a staff user. This should be the other way around.

[2020-06-15 13:10] bjrne opened #22 "Clarify meaning of "staff""
Currently, we have `Staff`-users and users with the built-in `is_staff`-flag set.

The `is_staff` flag determines, whether a user can log into the admin panel.

Our Staff user currently only has the boolean flag whether they can approve type a and b users. These will become obsolete with the Introduction of #12 , the permission management.

My proposal would be:
Remove the staff user once #12 is c

[2020-06-15 13:13] bjrne commented on #16
I would argue that a distinction on the map still makes perfect sense and will be desired in a lot of instances. Think about a real-world configuration of this app - like [match4healthcare](https://match4healthcare.de). This would be a possible and valid configuration of this software.

[2020-06-15 13:52] maltezacharias commented on #16
This is more a refactoring change, there's lots of code duplication. I mean they can be handled equally by the code. They can and should of course have different css classes, so that they would be styleable.

[2020-06-15 15:02] bjrne opened #24 "Handle favicon generation dynamically in JS"

[2020-06-15 19:21] Baschdl opened #25 "CMS system for use case-specific texts"
Users without programming knowledge should be able to change texts and forms

Specifics have to be discussed

[2020-06-15 19:28] Baschdl commented on #25
django cms plugins (user-editable content) could be a solution: http://docs.django-cms.org/en/latest/how_to/placeholders.html#placeholders-outside-cms

[2020-06-15 19:32] Baschdl commented on #25
Wagtail also supports our use case: https://docs.wagtail.io/en/latest/getting_started/integrating_into_django.html# and https://docs.wagtail.io/en/latest/advanced_topics/add_to_django_project.html

[2020-06-15 20:12] kevihiiin commented on #25
I think there are two approaches on how to use the CMS:
a) adding CMS to our application
b) add our application to the CMS like a plugin

This could be a guide for b) using django CMS
http://docs.django-cms.org/en/latest/introduction/03-integrating_applications.html
And why to use plugins in django cms
http://docs.django-cms.org/en/latest/topics/plugins.html#why-would-you-need-to-write-a-plugin

[2020-06-15 20:20] kevihiiin commented on #25
Maybe available plugins are important too?

**Django CMS**
Commonly used
http://docs.django-cms.org/en/latest/topics/commonly_used_plugins.html
Marketplace
https://marketplace.django-cms.org/en/addons/

**Wagtail**
https://github.com/springload/awesome-wagtail

[2020-06-15 20:37] Baschdl commented on #25
Everything basically boils down to the question how much a non-html & non-python user and a non-python user should be able to edit

[2020-06-15 22:14] Baschdl commented on #5
There are multiple django packages: https://djangopackages.org/grids/g/maintenance-mode/
The most important question is probably if it should be handled by gunicorn or a webserver in front. @maltezacharias Do you have an opinion on this?

[2020-06-15 22:15] Baschdl commented on #2
Is model and config a todo?

[2020-06-15 22:20] Baschdl commented on #100
@josauder What's our opinion about https://github.com/komoot/photon? Did we dismiss this issue? Should I run your SQL query?

[2020-06-16 20:53] #2 closed, assigned to nobody

[2020-06-16 20:53] feeds commented on #2
No, this was just a little reminder todolist for us during the development of the first prototype.

[2020-06-16 21:01] feeds opened #28 "Create a proile page for staff"
Currently staff cannot log out manually, which is annoying :)

[2020-06-16 21:35] feeds opened #30 "Create a filterable list overview for the participants over each other"
Depends on #37
What technique do we want to use here?

### A)
- just plain old django filtering as before, with a page reload when the filter is updated (note that github does this for issue filtering and it is hardly noticable), but with a custom filter design.

### B)
- a frontend that calls
-  our [rest api](https://www.django-rest-framework.org/api-guide/filtering/) that loads the appropriate

[2020-06-16 21:53] feeds opened #31 "Email and notification system"
There are many questions on how to do track/save/schedule the notification about things going on on the platform

- how do we want to save the general templates for contacting each other as participants, like "Hi Xy, this is a message from Z: ~~~~~~ Thanks, your team"?
- how to we integrate the validation process?
- how do we schedule follow-up questions like "did match occur" that were suggested

[2020-06-16 21:57] feeds opened #32 "Previewing the systems functionality"
We would like to be able for not-logged in users to play with the system without causing harm (or maybe even show some data that is not sensitive for some use case for the public).
Mainly to make how the platform works transparent to users that have not yet made up their mind about it (or people that are generally curious).

- How can we enable a safe preview of the system?
- Are there different l

[2020-06-16 21:58] feeds commented on #15
I mean there is not really a 'production' website of m4e online. Maybe we can add this to this readme, our github organisation and obviously m4h.

[2020-06-16 22:02] maltezacharias commented on #5
That's a good one, I see lots of argument in favor of the webserver, because it would enable us to do basically anything we want, even switching out the image.

Disadvantage is that such a page would be harder to maintain, because you'd need to mirror the design ideally.

An advantage would be that we could also use it for Gateway Errors,e.g. during failures in the container when gunicorn can't be

[2020-06-17 14:35] bjrne opened #33 "Design welcoming README page"
Design a README page that invites you to check out our project. Possible attributes are:
- Visually appealing
- Conveying a well-maintained state
- Clear steps for getting started
- Listing starting points for further reading instead of putting everything in the readme
- Using our colorscheme (tbd)
- Using our logo
- Showing off lots of project badges in the top ;)

This might include moving topic

[2020-06-17 14:41] bjrne commented on #5
That's the most important question off all!

- A defunct fire(place)? A fire going extinct?
- Broken matchsticks?

[2020-06-17 14:45] bjrne commented on #15
There is already a [PR](https://github.com/match4everyone/match4healthcare/pull/531) in m4h ;)

[2020-06-17 14:55] bjrne opened #34 "Fix naive datetime warnings"
Does not include full timezone support, this is will be part of #42.

[2020-06-17 19:12] #28 closed, assigned to feeds

[2020-06-17 19:26] feeds commented on #30
@maltezacharias do you have some (even little) input on this? :)

[2020-06-17 19:29] #19 closed, assigned to bjrne

[2020-06-17 19:30] feeds commented on #30
For now, I will just play around with the rest api, the frontend can follow

[2020-06-17 19:32] feeds opened #35 "Create an interface for approving participant A/B"
We would like to enable staff to approve or disapprove participant A or B's, analogous to the m4e

Nice improvements would be:
- no pagination errors ;)

Not in scope:
- viewing the details of a participant

[2020-06-17 19:35] feeds opened #36 "Create a profile view of either participant"
For someone who would like to view a participant, build a page under a url like `/A/<uui>` that shows the profile details, preferably not in the not-editable form view as we did in m4h since this is slightly ugly.

It could be possible to reuse [the property definition for the config](https://github.com/match4everyone/match4everything/blob/1c7a7e371df690868789371ae9cef77e3fd8f2f0/backend/apps/matc

[2020-06-17 19:37] josauder commented on #13
Would it make sense to merge this issue with https://github.com/match4everyone/match4everything/issues/25 and replace the about page completely with a CMS?

The CMS could be used to create pages such as the about page.

[2020-06-17 19:42] feeds opened #37 "Create a persistent filter that can be applied to a participant set"
We want to be able to save a filter over the information of a participant, so we can follow up on this at a later point in time (e.g. if participants were added post-filtercreation that match the filter) and the participant can save the search in their dashboard.

This includes

- [ ] creating a custom filter for the location and time info
- [ ] creating a filter that is generated from the partici

[2020-06-18 11:20] josauder opened #39 "User should only be able to edit their own profile info"
Currently, a user can edit any user's info at the url:
`<p:p_type>/info/<str:uuid>/edit/`

## Todo
- A user should only be able to edit their own profile
- A staff user should be able to edit any profile (except private fields)
- A super-admin should be able to edit any profile (including private fields)

[2020-06-18 19:24] kevihiiin opened #41 "Code and usage documentation"
Generate code and usage documentation to make contributing and using m4e easier.
I suggest we use the following:
- Generate the documentation: [sphix](https://www.sphinx-doc.org/en/master/)
- Hosting of documentation: [readthedocs](https://readthedocs.org)
- Docstring style: Either numpy or google style (comparison [here](https://stackoverflow.com/a/24385103/9356180))
- Avoid GitHub Wiki (readthed

[2020-06-18 19:50] bjrne commented on #41
Sounds great! Out of curiosity, why not the reST-style that is also mentioned in the link? They state that it is recommended by PEP287. I agree that it is not that readable in code, but isn't the point of a generated documentation that the definition lies close to the code, but the viewing takes place in a better formatted style either way?

[2020-06-19 09:33] bjrne commented on #22
The path forward is to remove our custom staff user and give the `is_staff`-flag to users who need administrative privileges. This still allows to have well-designed UI pages where they can approve users for example. The authorization can be implemented with fine-grained permissions if necessary.

[2020-06-19 11:13] bjrne opened #42 "Timezone handling"
We currently sometimes use utc times, sometimes localized times: we need to draft a coherent approach for the project.
Notes:
- There is no standard like the request-language http header for timezone localization, thus we need to think about how to handle this. A classic approach is to infer time-zones from languages and countries or IP-Address ranges. However given our principle of data economy,

[2020-06-19 13:40] kevihiiin commented on #41
You are right, reST-style seems to be the default now. I think reST might be easier to write (less formatting and boilerplate than e.g. numpy style), but the other styles are easier to read.
My thoughts about the other styles were that when you are writing code, you might want to check what a function does or needs without having to look it up in the online documentation.
But if that is not of muc

[2020-06-19 22:03] maltezacharias commented on #5
Current solution in m4h:

![image](https://user-images.githubusercontent.com/9914287/85182263-7c5d3100-b288-11ea-9bbb-29903deffddc.png)

I like it and the image is licensed appropriately that we could ship something like this with our app. A huge downside: Currently I wrote that page manually using bootstrap from a CDN and using our basic design, this needs a better solution, but I fail to see one

[2020-06-19 22:28] maltezacharias commented on #30
I strongly favor B obviously. I think we should write javascript components for every content type of field. E.g. in our filters so far we had Yes/No/Don't Care, the between A and B selector, a simple lower than or higher than selector. (And maybe more?) We should write a Vue.js UI component for these fields. These should handle translating the filter values to a format that Django can use.

Ideal

[2020-06-19 22:37] maltezacharias opened #44 "Remove javascript for window height and replace with flex sticky footer layout"
The current page layout uses javascript to set the main content height on a resize so that with pages smaller than the screen size the footer is sticky on the bottom. We should remove this script entirely and use flex instead.

The main page layout should be straightened out:
[code]

html and body need height:100% for this to work. First results look beautiful. There was one problem I couldn't yet

[2020-06-19 22:38] maltezacharias commented on #44
see also https://getbootstrap.com/docs/4.4/utilities/flex/
see also https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

Me ❤️ Flexbox

[2020-06-19 22:41] maltezacharias commented on #42
1. Store UTC everywhere
2. See if inferring from ZIP code is possible, alternatively set default timezone in config
3. Profit
4. Or add to user profile and make it changeable. Considerung that we should be able to show the users sent messages and an inbox/outbox maybe we need to be able to handle timezones.

[2020-06-19 22:42] maltezacharias commented on #100
Wrong repo, I'd say? Should we transfer to m4e?
(As we will be implementing there, ofc we should use m4h to get an idea how good our solution works on a real life db)

[2020-06-20 08:50] feeds opened #45 "[Discussion] One:One matching"
I noticed that there are several modi of matching, e.g. people just want to find each other (1:1, maybe corona school), institution wants to find many people (1:n, m4h) or an institution wants to find people working at many institutions (n:n).

The direct impact of this decision is not in the software design but rather in the UX where and how people specify their "filter" preferences.
- directly w

[2020-06-20 10:20] Baschdl commented on #45
m4h also had m:n as some people wanted to volunteer at different locations and possibly also do multiple jobs part time but we didn't design it in this way. So A can possibly search for n Bs, and B can search for m As and A and B can have multiple locations.

[2020-06-20 10:41] Baschdl commented on #42
Do we need the time for anything except internal analysis?

[2020-06-20 10:43] Baschdl commented on #44
Why not opening a draft PR when you already made some code changes? Or at least reference the branch?

[2020-06-20 10:59] Baschdl commented on #37
"more intricate logic" would be cool but we would need to design it in a way that it can be understood easily. An idea could be to have it very low-key on the UI, only "power user" use it and the rest doesn't really notice it. How to implement it without building an interface for SQL is another question.

[2020-06-20 11:07] Baschdl commented on #30
@maltezacharias @feeds already implemented a first draft of an REST API in https://github.com/match4everyone/match4everything/pull/40/files which returns a JSON if I understand it correctly.

I worked a bit with GraphQL and it's not too hard. Creating the API also doesn't seem to be too hard: https://github.com/graphql-python/graphene-django

[2020-06-20 11:22] Baschdl commented on #5
Does gunicorn additionally have the possibility to show a temporary page? This could fix the first problem

[2020-06-20 11:26] Baschdl commented on #5
How about exposing the website additionally on another port?

[2020-06-20 11:40] Baschdl commented on #41
We should optimize for readability in the code as no one uses our platform as a "normal python package" and only searches the right methods to call.

[2020-06-20 11:57] Baschdl commented on #13
Yes, would make sense when we have a clear picture of how it could work with a CMS

[2020-06-20 12:00] bjrne commented on #42
Availability checking in the matching process. If the matching is local, they should be in the same timezone, but if the matching is for online tutoring, IT-support, ..., timezone support becomes critical.

[2020-06-20 12:12] bjrne commented on #41
That is the question! Regarding #25, being a plugin seems like a viable option...

When a file is 500+ loc, I strongly dislike long documentation strings. But maybe in that case, the problem lies elsewhere :wink:. With the heavier use of class based views in their own files, the longer more readable docstring sounds like a nice choice.

[2020-06-20 12:26] Baschdl commented on #32
We just show the private forms but they are greyed out?

[2020-06-20 12:29] Baschdl commented on #31
So many questions... "how long do we keep emails?" is probably a legal question

[2020-06-20 12:40] maltezacharias commented on #42
Inbox

[2020-06-20 13:16] Baschdl commented on #25
https://pypi.org/project/django-template-editor/ would be an easy way to have an UI to change the templates

[2020-06-20 15:15] Baschdl commented on #25
Posted a question on SO, maybe the web has a better idea: https://stackoverflow.com/questions/62487635/combining-django-templates-with-content-editable-for-non-technical-users

[2020-06-20 15:25] Baschdl commented on #25
https://docs.djangoproject.com/en/dev/ref/contrib/flatpages/ could also be a way to achieve this

[2020-06-20 16:02] Baschdl commented on #25
Django-cms with custom plugins and [djangocms-snippet](https://github.com/divio/djangocms-snippet) for Javascript could work but would a complete rebuild of the design in django-cms require if I understand the workflow correctly. [djangocms-spa-vue-js](https://github.com/dreipol/djangocms-spa-vue-js) for vue.js single-page application support if we want this.

[2020-06-20 18:40] bjrne opened #47 "Fix bug in specific validation"
As mentioned in https://github.com/match4everyone/match4everything/pull/23#pullrequestreview-434307509, one important database validation does not work. This was solved by removing it, this issue is about finding out was is the problem.

The commit where the problem still exists is 1c7a7e3, all comments are referring to the state at this commit.

[2020-06-20 18:53] bjrne commented on #47
- it works on my machine without docker (ubuntu 20.04, python 3.8.2, requirements.txt satisfied)
- it works on travis with docker (ubuntu 18.04, python3.6, requirements.txt freshly installed) [log here](https://travis-ci.org/github/match4everyone/match4everything/builds/700330261)

[2020-06-21 05:29] feeds commented on #45
Although we did not support the several locations in m4h ever

[2020-06-21 05:31] feeds commented on #30
@Baschdl would these two be the two layers you would offer? (normal and power user)

[2020-06-21 08:02] feeds opened #51 "Create a hierachy of technical and regular influencer admins"
The `createsuperuser` command receives all permissions by default and can log into the django admin user interface.
We do not want to grant this permission to all '_matching_supervisors_'.

Thus, we need to set up the correct groups and permissions at all places.
From django:
- `is_staff`has access to the django admin interface
- `is_superuser` has **all** permissions

Suggestion:
- add `is_matchi

[2020-06-21 08:04] feeds commented on #51
@bjrne this is what we talked about (also in #22, but I think you missed that staff users can already access the admin panel)
@Baschdl what kind of setup do you need for the cms? Would this interefere somehow?

[2020-06-21 08:10] feeds commented on #41
I would also favor class doc strings in the code with the small files.

I agree with @Baschdl - I do not think it is necessary to generate a read-the-docs, since we do not really provide a framework but I would rather concentrate on a detailed setup explanation. ( @kevihiiin  And I don't even know if the doc generation with the mentioned frameworks would work considering the amount of meta code re

[2020-06-21 08:48] feeds commented on #34
If this is a part of another issue, we can close this

[2020-06-21 08:54] feeds commented on #12
Closed by #23 @bjrne ?

[2020-06-21 08:55] #12 closed, assigned to bjrne

[2020-06-21 08:55] bjrne commented on #12
Yes!

[2020-06-21 08:56] feeds commented on #3
Can this also be achieved with the cms? @Baschdl

[2020-06-21 10:08] bjrne commented on #34
It actually isn't, fixing the warning != full timezone support, but the warning is that annoying that I will it fix sooner ;P

[2020-06-21 10:09] bjrne commented on #3
Would be even better, but if not, they can be set as variables and compiled into our custom bootstrap css code with the js refactoring @maltezacharias is working on right now :)

[2020-06-21 12:16] bjrne commented on #47
- it works on my machine with docker, I deleted the `database/data` folder in order to test the migrations. The one test also runs fine with `docker exec -it backend python3 manage.py test`.

[2020-06-22 20:44] #34 closed, assigned to bjrne

[2020-06-22 22:36] feeds opened #55 "Link the participant view in the approvals"
Approvers should be able to quickly get an overview over the participant, incuding "private" info like phone number to decide on the approval

[2020-06-23 12:14] Baschdl commented on #45
@maltezacharias Should m4e support this?

[2020-06-23 12:36] Baschdl commented on #30
Discussed with Freya: A user should have a list of all their filters where they can duplicate existing ones (and change them afterwards) and create new ones. The user should be able to select one, a set or all filters and view their current result (`or` logic, distinct users). Emails are sent based on a distinct `or` over all filters. @maltezacharias Fine for you?

Bonus feature: Possibility to de

[2020-06-23 12:59] feeds opened #56 "Add a validator for emails"
in the signup form, just like we had in m4h

[2020-06-23 13:00] Baschdl commented on #51
We would introduce another group "page editors" and maybe "(news) blog editors" and "press editors". This would be independent of all the other groups.

[2020-06-23 13:01] Baschdl commented on #41
You mean that someone would use use as an package in their system? Django-cms "plugins" are another thing, if you mean them.

[2020-06-23 13:08] Baschdl commented on #3
I don't see a possibility right now how we could integrate it into django-cms. I would integrate it into our configuration object.

[2020-06-23 13:19] Baschdl opened #57 "backend errors (again) when database is starting the first time"
Following error occurs, when deleting `database/data` and starting for the first time:
[code]

[2020-06-23 13:21] Baschdl commented on #47
@bjrne Wasn't it always clear that a fresh installation isn't the problem (as it works on travis)? My guess is that migrating from a specific state causes this problem.

[2020-06-23 19:07] bjrne commented on #57
This only happens with docker I suppose?

[2020-06-23 19:30] #35 closed, assigned to feeds

[2020-06-23 21:24] Baschdl commented on #57
I did not test it with a local postgres instance but for our project you could say that it "only happens with docker".
The cause is that something with the "wait for db" logic doesn't work @kevihiiin

[2020-06-25 19:02] bjrne opened #59 "Remove map box icon when using other tileservers"
Currently,the mapbox watermark appears in the bottom left corner of the map regardless of whether the map box api is used.

Scope of this issue is to hide it when another tileserver url is used.

[2020-06-25 20:04] feeds commented on #51
So many people :D

[2020-06-25 20:12] feeds opened #60 "Document how we manage permissions in our project"
Add the results from the discussion in #43 to contributing

[2020-06-25 20:28] feeds commented on #31
With regards to the technical questions, of course we are not the first to schedule emails and notifications

- for real-time notifications [pinax](https://github.com/pinax/pinax-notifications) seems to be a valid option. It easily schedules mails for groups and also offers a user management for notifications (e.g. to disallow etc.).

- for digests it is probably easiest to just write a cron job t

[2020-06-25 22:51] maltezacharias commented on #45
Should support multiple loc's i.e. m:n? Yes

Should mix "I am" and "I need"? No, we should keep these apart for the moment as I believe that's more easily achievable. We should make searches saveable but I don't think we should make it possible to enter what you're looking for on your profile. Something comparable is easily achievable through configuration I think, like in m4h where you had some f

[2020-06-25 22:56] maltezacharias commented on #44
to please @Baschdl match4everyone/match4healthcare#538

[2020-06-25 22:56] maltezacharias commented on #44
That's all the code / PoC there is atm

[2020-06-25 23:11] maltezacharias commented on #5
That' what I meant with "Use a separate nginx listener on localhost and SSH Tunnel?" I wouldn't expose the port on the main IP, but instead make it listen on 127.0.0.1 on the nginx host where you can easily tunnel with ssh.

For turning it on and off, I have done some research, most pages suggest something like checking for existence of a file from the nginx configuration. I think that's wasteful.

[2020-06-25 23:15] maltezacharias commented on #25
Complete as in "build a template for the site for the CMS" or complete as in "rebuild every single page layout of the app in django cms"?

[2020-06-25 23:21] maltezacharias commented on #25
I think this is a viable low-level alternative if the other approaches don't work out. It's a low effort way to keep the pages maintainable without having to redeploy on every wording change. In m4h this would've worked out relatively well.

[2020-06-25 23:34] maltezacharias commented on #30
Yes, provided saving filters is optional and not required. I think to create an UI for this is probably one of the hardest tasks though. Question is @Baschdl should we head towards GraphQL or invent our own wheel?

[2020-06-25 23:38] maltezacharias commented on #3
This would probably be problematic to read during the css and js build process. Does it have to be known in python? CSS files will be generated by webpack from the bootstrap scss which supports a concept of "theme colors" that can be set and overwritten before the CSS is generated.

[2020-06-26 08:43] feeds commented on #45
I agree @maltezacharias.

Do we want to support the use case of one hospital manager setting up different local branches?
i.e. (I am ... where I need ... AND I am ... where I need ... and I need ...)

I would suggest we do not offer this, but what do you think? It would introduce a whole new level of complexity in the UI.
In this case the hospital manager would just have a common description but c

[2020-06-26 08:45] feeds opened #61 "Make the location filter editable in the UI and support several locations as a property"
Connected to the discussion on matching modi in #45

[2020-06-26 09:34] maltezacharias commented on #45
I am sure we should offer it, but if we truly offer it we should also make the distinction between geodependent attributes and basic attributes that are the same for every location.

I agree on the complexity, I think we should do this as a second step and first focus on getting the UI done and working without multiple locations. It will probably be easier to discuss the best approach for it then.

[2020-06-26 09:36] maltezacharias commented on #45
add a location model = removing the location (e.g. zip) from the participant and create a new model that is linked to the participant and contains the location. On a sidenote we could add the lat lon there as well and let PostgreSQL handle the distance calculation, but that's another issue and debate.

[2020-06-26 09:49] maltezacharias opened #62 "[Discussion] Evaluate switching to GeoDjango for distance calculations"
GeoDjango is an API to include querys like distance and many other GIS functions in Django
https://docs.djangoproject.com/en/3.0/ref/contrib/gis/db-api/#geodjango-database-api

It can make use of PostGIS (a postgres extension that allows spatial calculations in Postgres querys) but also has backends for MySQL, SQLlite and Oracle. Currently we use our own haversine implementation which IIRC is not

[2020-06-26 09:51] maltezacharias commented on #62
Did a little more reading, a lighter version would be https://pypi.org/project/django-earthdistance/#description which would also support in database distance calculation but would only work with postgres. OTOH it would be far simpler to implement and doesn't require the PostGIS extension on the DB side.

Relevant postgres docs: https://www.postgresql.org/docs/8.3/earthdistance.html

[2020-06-26 09:52] feeds commented on #45
I think it is quite easy to do now, since we would only have to reattach it to another model (i.e. the participant himself) if we changed our mind (right now it is connected to a participant info itself).

[2020-06-26 09:52] feeds commented on #45
this is actually already the case

[2020-06-26 17:06] #8 closed, assigned to feeds

[2020-06-26 18:40] bjrne commented on #45
I would reserve this as a stretch goal and get the rest of the features working before the end of July, then see if there is enough time left :)

[2020-06-27 13:12] bjrne opened #66 "Auto-create favicon sizes and links"
- [ ] given one icon, all sizes should be generated automatically to the right folders
- [ ] the meta link mess should be cleaned up, there is lots of stuff that is not in use or redundant right now

[2020-06-27 18:05] maltezacharias opened #67 "Remove ugly spam protection javascript, implement a better version"
https://github.com/match4everyone/match4everything/pull/18/files/e272764e3d5306ef634a0850ae2088d48873ee58#diff-0aef07600277b6e5de652d7c40b559ed

This should be replaced by something more elegant. At the very least the decoding function should be included from a bundle

[2020-06-27 18:08] maltezacharias commented on #67
see 3038fd5746dae1f755cd24312929c321b34ffdec

[2020-06-30 11:33] feeds opened #68 "Enable staff to change the max number of contact requests a person can send per day and indroduce the field at all"
We did not have this ability in m4h and this was slightly annoying for the admins

The field needs to be introduced on the abstract model class of participantA/B

@Baschdl:
Use the same functionality and design like the approval pages but to provide the possibility to increase the mail limit

[2020-06-30 11:54] #36 closed, assigned to josauder

[2020-06-30 13:11] josauder commented on #56
![image](https://user-images.githubusercontent.com/12648328/86130056-e3c67c80-bae3-11ea-9f78-5865d250d226.png)

I think this is actually currently implemented. Feel free to close if this is what you mean

[2020-07-01 07:49] josauder commented on #62
I think this function is pretty robust, i.e. computing the distance on a (slightly-non-round) sphere is not so difficult. I think including another dependency just to not use an own implementation of this would be overkill. A sensible argument FOR a library would be that the database could use some tree-like structure, i.e. right now we compare each object we are querying with all other objects us

[2020-07-01 08:13] josauder commented on #13
So AFAIK now we have a working CMS, what is the status on this issue?

[2020-07-01 10:08] josauder opened #69 "Include config for B, script for rebuilding project from configuration."
- As of right now, A and B both use the class for A.
- Also, building the project right now from scratch requires moving `0002_permission_group_creation.py` to a different folder, deleting all other migrations, running `makemigrations && migrate`, and then re-adding `0002_permission_group_creation.py`.

[2020-07-01 11:49] josauder opened #71 "Improve flake config"
- Remove imperative docstring from flake config

[2020-07-01 12:17] kevihiiin commented on #57
The logic is changed again in PR #21, I would wait until that PR has been merged and if the error still persists, I will have another look at the waiting part

[2020-07-01 12:21] bjrne commented on #71
Closed in 03d63ee

[2020-07-01 12:21] #71 closed, assigned to josauder

[2020-07-01 12:22] bjrne commented on #69
Now that we use the automatic configuration, there might be a better way to add the groups, like automatically loading a fixture? I'm not a huge fan of it since it is less verbose in code, but it could be way easier here.

[2020-07-01 13:03] bjrne commented on #13
One would need to figure out a way to "start/create/add" the cms pages automatically, e.g. create a placeholder page in the automatic config. But i think this would be ready to work on, right @Baschdl? More discussion can be found in #25

[2020-07-01 16:21] kevihiiin opened #75 "Mail sending, handling and development strategy"
**Backend sending requirements:**
- Allow for different ESP (SMTP, Sendgrid, Mailgun etc)
- Asynchronous mail delivery to ESPs
- Support HTML email

=> Options `django anymail` or `django post office`

**Mail template and content development**
- Preview mails during template development (django-templates)
- Get a preview and compatibility of send mails in different mail clients (mailtrap)
- Catch

[2020-07-01 17:41] feeds commented on #56
Oh, right :)

[2020-07-01 17:41] #56 closed, assigned to feeds

[2020-07-01 17:56] feeds opened #76 "Handle deletion and deactivation of users"
The links are in the dashboard, but do not work.

Best idea: Take what is there in m4h and copy+paste :)

[2020-07-02 02:13] maltezacharias opened #77 "Replace m4h fonts with Google web fonts"
- [ ] Select new fonts from Google Web fonts
- [ ] Replace fonts in stylesheet
- [ ] Include in statics (GDPR issues)

[2020-07-02 02:14] maltezacharias commented on #77
- [ ] Do not forget template 504 page

[2020-07-02 13:19] maltezacharias opened #78 "Run containers as non root user"
Forked from https://github.com/match4everyone/match4everything/pull/21

Evaluate gosu, su-exec or su/sudo as a means to create a container that will drop privileges after starting as root.

[2020-07-02 22:13] bjrne opened #79 "Retrieve resulting schema of a given configuration"
**As a potential new user/hoster of an instance of m4e**, I want to understand the database schema better. After all the runtime magic off both the django makemigrations command and the intertwined live config code of m4e I want to grasp what specific changes will do to the resulting schema in order to:
- understand the unusual concept better
- know where, what and how to tune the options for my u

[2020-07-02 22:20] bjrne opened #80 "Add documentation for config-created database structures"
Currently our README is missing a paragraph about how the migration generation works in combination with the configs. Possible contents could be:

- Where to find all necessary code (some things in `apps/`, some things in `match4everyone/`, on is named `configuration`, one `config`)
- When the code is executed
- How it works together with all the django magic
- How to add further migrations when t

[2020-07-03 23:14] #4 closed, assigned to bjrne

[2020-07-03 23:20] bjrne commented on #77
Is there any alternative to Google web fonts to circumvent the GDPR issues and provide a data economical starting point?

[2020-07-04 20:31] maltezacharias commented on #57
Adressed in c458215845d9ef1044df59e70c68ec764c07bab8, will be closed by #21

[2020-07-04 21:03] maltezacharias commented on #30
@feeds and I decided for now to stick to the REST API as she has already put considerable effort towards that way.
@kevihiiin  and I have created #81 to start development on this

[2020-07-04 21:06] maltezacharias commented on #77
We can just download them and serve them ourselves, that is no problem, that's what the todo Include in statics is for.
It would be beneficial to include them from the CDN, because that way it could probably take advantage of client side caching but we are in agreement about GDPR issues with that.

[2020-07-05 00:20] kevihiiin opened #82 "Makemigrate on startup optional via env variable"
Do we want to run migrate every time the container is started?
I know that in our use-case we migrate every time we restart the container because the build changes. But in general it feels wrong to touch the database structure everytime the container is just started even if we don't have to.
A problematic scenario: Say after an unexpected shutdown the database gets corrupted and we now try to re-m

[2020-07-05 01:28] kevihiiin commented on #41
I think read-the-docs is still a good way to document the details and the configuration in our project even if we don't use it to document the code itself.
The code will change a lot and so will the configuration and documentation. The built in version selector (e.g. based on releases) makes it easier to find the documentation which is specific to the version a user might be currently running.

[2020-07-07 11:22] Baschdl commented on #13
Yes, how we can preload certain content is a open question. It looks complicated on a first look as django-cms doesn't support `loaddata`. I will create issues and an EPIC for django-cms later.

[2020-07-07 11:27] Baschdl commented on #25
Not sure yet what the django-cms way to do this it but we can combine normal django templates with editable content

[2020-07-07 11:30] Baschdl commented on #75
I think we also discussed a WYSIWYG editor as a good way to implement the preview and nice editing

[2020-07-07 12:21] maltezacharias commented on #25
I'll be happy to have a look together when you find the time :) I'm intrigued

[2020-07-07 12:23] maltezacharias opened #83 "Check if python-dev dependeny is needed"
`apt-get install python-dev` was added to the Dockerfile.
 Recheck if really needed

I think one of the django-cms plugins needed it but I didn't try it without it. No idea why they would need python2.

_Originally posted by @Baschdl in https://github.com/match4everyone/match4everything/pull/49_

[2020-07-07 12:48] Baschdl commented on #77
@maltezacharias How big is such a font? The CDN usage is a general topic also regarding javascript

[2020-07-07 12:51] Baschdl commented on #82
Wouldn't this lead to a postgres startup error?
Are there other scenarios where one doesn't want to migrate?

[2020-07-07 12:59] Baschdl commented on #41
@kevihiiin So you wouldn't generate any documentation directly out of our code?

[2020-07-07 13:22] maltezacharias commented on #77
About 100k, but that is not a big issue here. We can easily load the font asynchronously
https://barryvanveen.nl/blog/21-loading-a-google-webfont-asynchronously#:~:text=Just%20like%20stylesheets%20and%20Javascript,with%20a%20slower%20internet%20connection.

[2020-07-07 16:22] Baschdl commented on #44
@maltezacharias Oh wow and already merged :octocat:

[2020-07-07 16:27] Baschdl commented on #5
Why do you want to turn it on and off if it's only visible via a ssh tunnel?

[2020-07-07 16:56] Baschdl commented on #66
Already some discussion in https://github.com/match4everyone/match4everything/pull/14

[2020-07-07 17:02] Baschdl commented on #62
A geospatial index is a good idea, especially for big projects. I have some experience with PostGIS but our main problem with geocoding, getting the coordinates, would still remain.

[2020-07-07 19:50] Baschdl opened #84 "Configure django-cms for multiple languages"
See http://docs.django-cms.org/en/latest/how_to/languages.html#multilingual-support-how-to

This includes

- [x] Use `{% language_chooser "myapp/language_chooser.html" %}` (http://docs.django-cms.org/en/latest/how_to/languages.html#display-a-language-chooser-in-the-page)
- [x] Integrate handling of the user’s language preference with our current way
- [x] Move translations from `.po` file to trans

[2020-07-07 19:53] Baschdl opened #85 "Migrate pages from templates to django-cms pages"
In the end, we should only have a limited number of templates in our repository and use django-cms to manage the pages

[2020-07-08 09:41] Baschdl opened #86 "Content section in django-cms adds text to top of page"
`Content` section in django-cms adds text to top of page:
![image](https://user-images.githubusercontent.com/3034832/86903627-e4789780-c10f-11ea-84ef-83ce4da4f816.png)

[2020-07-08 09:42] Baschdl opened #87 "Provide initial page setup in fresh deploy"
Create initial page setup in a django-cms instance, export data and provide it in our repository

[2020-07-08 09:44] Baschdl opened #88 "Add initial loading of page setup to docker setup"
After creating a initial setup in #87, add automatic initial loading of this data

[2020-07-08 09:44] Baschdl opened #89 "EPIC: Full integration of django-cms"
- Configure django-cms for multiple languages #84
- Migrate pages from templates to django-cms pages #85
- Provide initial page setup in fresh deploy #87
- Add initial loading of page setup to docker setup #88
- Integrate about page into django-cms #13

Small things:
- Content section in django-cms adds text to top of page #86
- How can we add javascript in between normal text using django-cms's t

[2020-07-08 10:24] kevihiiin commented on #82
In theory it should, but I am certain that errors can occur which are not detected by the integrity check of postgres on startup.

I think the user needs to think the other way round, when do you want to migrate? And make that an explicit action

@maltezacharias suggested that we can add pass a variable which would have to be explicitly set on startup in order to migrate,
probably something like t

[2020-07-08 10:44] maltezacharias commented on #62
I'd just save the zipcode's Lat/Lon as Points to the Database per user, that would work in any case, no matter how we determine the location and could also be upgraded to use something else if one wanted to do that. Maybe add a precision column for the map indicators, but I don't expect that we will have the time to do map improvements in the remaining time

[2020-07-08 10:50] maltezacharias commented on #5
When you update the image you will typically shut it down and start it up again, then you should do at least a basic testing like "login works" to be sure everything works as intended. If there is a problem during that time (e.g. db fails to start, which has happened more often than I'd like to admit) the users will see an error page instead of maintenance (because Django is available and produces

[2020-07-08 11:05] Baschdl opened #90 "How can we add javascript in between normal text using django-cms's text plugin?"
Just adding the javascript in the "source mode" of the WYSIWYG editor results in
![image](https://user-images.githubusercontent.com/3034832/86911329-733ee180-c11b-11ea-8cd5-b223b9617262.png)

[2020-07-08 11:09] Baschdl opened #91 "English version of site should fall back to German version for m4h"
If we move m4h to m4e, we want to display the German text if there is no English text

[2020-07-08 11:20] Baschdl commented on #91
I have the slight impression that this works out of the box

[2020-07-08 14:07] Baschdl commented on #67
The best I could find is https://michsch.github.io/antispammail/

[2020-07-08 15:04] Baschdl opened #94 "OpenStreetMap tiles are blurry"
OpenStreetMap are displayed blurry, possibly a problem with an unnecessary projection.
![image](https://user-images.githubusercontent.com/3034832/86935318-fa508180-c13c-11ea-9933-946a6efdae34.png)

[2020-07-08 20:29] #83 closed, assigned to Baschdl

[2020-07-08 20:53] Baschdl commented on #16
@maltezacharias Is this already done?

The only code duplication I can find is this:
[code]

[2020-07-08 20:55] Baschdl commented on #24
Duplicate of #66

[2020-07-08 20:55] #24 closed, assigned to nobody

[2020-07-08 21:48] bjrne commented on #100
Since there is no issue yet in m4e, I will comment here. There are lots of edge-cases, I have a fresh one here for you:
![Screenshot from 2020-07-08 23-47-22](https://user-images.githubusercontent.com/7229585/86973797-71097100-c175-11ea-9d42-62cfe9efe900.png)

[2020-07-08 22:39] Baschdl opened #99 "Fix X-Frame-Options for django-cms"
Editing a plugin on https://helping-health.from-de.com/ throws a `The loading of “https://helping-health.from-de.com/admin/cms/page/edit-plugin/1/?cms_path=/?edit” in a frame is denied by “X-Frame-Options“ directive set to “DENY“.`-error

[2020-07-08 23:35] maltezacharias commented on #16
I'll have to revisit after merging webpack js branch. In that branch the whole code moved and since that PR wasn't merged for a long time I first have to make sure I won't miss any changes done in the meantime.
Then I will check this issue. I think the refactoring changes weren't obvious, but for example we use the same type of icon for both parties (different cssClass though) and think I have two

[2020-07-08 23:38] maltezacharias commented on #67
I was thinking rather along the lines of https://github.com/morninj/django-email-obfuscator
But: The way it looks right now, this is probably rather a question for django cms?

[2020-07-08 23:38] #57 closed, assigned to nobody

[2020-07-09 09:33] kevihiiin commented on #99
It's a Django settings option and (I think) independent from the nginx settings. From Django 3.0 on it is application wide set to deny per default.

You can exclude a specific view or set the option to something else in general.

If you need to only embed one view I would recommend to use the decorator. If we need more just set the whole site to "same origin".

https://docs.djangoproject.com/en/3.

[2020-07-09 11:29] Baschdl commented on #67
I can't find anything for django-cms

[2020-07-09 12:03] #59 closed, assigned to Baschdl

[2020-07-09 12:18] #94 closed, assigned to Baschdl

[2020-07-09 12:27] Baschdl commented on #99
@kevihiiin It's already set as django-cms needs it for multiple things:

https://github.com/match4everyone/match4everything/blob/55428b9d813949a87618fccde68e888ef3428a78/backend/match4everyone/settings/common.py#L118

Maybe we set it to `DENY` with nginx?

[2020-07-09 13:03] Baschdl commented on #99
`DENY` is set by the reverse-proxy in front of our site

[2020-07-09 13:04] Baschdl commented on #85
Imprint, Data protection etc. need separate templates as they look differently

[2020-07-09 13:04] #85 closed, assigned to nobody

[2020-07-09 13:06] Baschdl commented on #91
I can't find any problems with it. Please reopen if you see something

[2020-07-09 13:06] #91 closed, assigned to nobody

[2020-07-09 13:07] Baschdl commented on #84
Our language chooser works as intended

[2020-07-09 13:10] Baschdl commented on #82
We could also pass something to the `entrypoint.sh` directly without using environment variables as `docker-compose up` executes the entrypoint and additional arguments are passed to the `entrypoint.sh`

We would need to find a solution for this

[2020-07-09 13:37] Baschdl commented on #11
@kevihiiin Is this still relevant?

[2020-07-09 13:38] Baschdl commented on #41
I will do the initial setup for sphinx and readthedocs

[2020-07-09 14:48] maltezacharias commented on #67
Can you use custom template tags in django cms? I suppose not?

[2020-07-09 16:26] Baschdl commented on #67
A normal user doesn't have access to the template using django-cms. Not sure if I understand you correctly

[2020-07-09 17:11] #99 closed, assigned to nobody

[2020-07-09 17:38] Baschdl commented on #76
I mean the methods are here
https://github.com/match4everyone/match4everything/blob/4f4687cdfb512fda8e9f5bee6d9bb851566c27c7/backend/apps/matching/views/user_deletion.py#L13

and they are also linked with the button

https://github.com/match4everyone/match4everything/blob/4f4687cdfb512fda8e9f5bee6d9bb851566c27c7/backend/apps/matching/templates/messages/deleted_user_ask.html#L49

Not sure where thi

[2020-07-09 18:03] Baschdl opened #104 "createfakeusers fails"
`python3 manage.py createfakeusers --add-a 5` fails with `django.db.utils.OperationalError: table matching_participantb has no column named approval_date` despite having run all migrations

[2020-07-09 18:08] Baschdl commented on #104
Nothing easier than just deleting your database 🙈

[2020-07-09 18:08] #104 closed, assigned to nobody

[2020-07-09 18:15] Baschdl commented on #5
👍 I guess we can close it now @maltezacharias

[2020-07-09 18:17] Baschdl commented on #55
I would say the `ParticipantInfoViewView` would be sufficient for this or would you want to show something else?
If we wanna use `ParticipantInfoViewView`, we just have to configure the permissions to require `matching_participant_required` or a staff user
![image](https://user-images.githubusercontent.com/3034832/87075859-44ab2e80-c221-11ea-8835-2ec43ac63e7a.png)

[2020-07-09 18:17] #5 closed, assigned to nobody

[2020-07-09 20:46] #17 closed, assigned to maltezacharias

[2020-07-09 20:55] Baschdl opened #107 "EPIC: Documentation"
- Code and usage documentation #41
- Design welcoming README page #33
- Add documentation for config-created database structures #80
- Document how we manage permissions in our project #60

[2020-07-09 21:02] Baschdl commented on #32
@maltezacharias Any opinion what we wanna show? Only stuff reachable from the map? Only one dummy entry for each plz area?

[2020-07-09 21:04] Baschdl commented on #9
Doesn't happen anymore

[2020-07-09 21:04] #9 closed, assigned to feeds

[2020-07-09 21:23] #41 closed, assigned to Baschdl

[2020-07-09 22:27] bjrne commented on #107
Why don't we create a milestone for this? :)

[2020-07-09 22:39] Baschdl commented on #107
Would also be an option

[2020-07-10 11:14] bjrne opened #110 "Gevent is not in requirements"
Devs should be able to run the server with the requirements from `requirements.txt`

[2020-07-10 11:39] bjrne commented on #110
And some more goodness:
[code]

[2020-07-10 12:08] #110 closed, assigned to Baschdl

[2020-07-10 12:37] #6 closed, assigned to Baschdl

[2020-07-10 12:55] Baschdl opened #113 "Clean up links"
Is there a greater concept behind our urls?
Currently, `A` and `B` is in our link. Do we want to dynamically use `ParticipantConfig.name` in the end?

Blocked by @feeds

[2020-07-10 13:04] Baschdl opened #114 "Port newsletter"
@feeds Why didn't we directly integrate the newsletters?

[2020-07-10 13:05] Baschdl opened #115 "Port user statistics"
@feeds Do you already have an idea how to implement the statistics dependent on the host-specific settings?

[2020-07-10 13:28] maltezacharias commented on #55
I think we should employ JS to open this in a modal window. I tried the validation in m4e and I think the UX would be a lot better if you didn't need to navigate to another page everytime to check one participant. With our ~150 participants that wasn't a big issue but for other scenarios it might well be.

Best would probably be a JS hover effect that would open tooltip like window showing the Par

[2020-07-10 14:01] bjrne opened #116 "Make meta tags editable in django-cms"
We would wanna use something like https://github.com/nephila/djangocms-page-meta or https://pypi.org/project/django-meta/.

_Originally posted by @Baschdl in https://github.com/match4everyone/match4everything/pull/92_

[2020-07-10 14:07] bjrne opened #117 "Redirect output of checks to stderr"
Currently, the output is on stdout, which prohibits for example the dumpdata command and possibly more. Using stdout is the cleaner solution anyway.

[2020-07-10 14:13] #25 closed, assigned to nobody

[2020-07-10 14:13] #87 closed, assigned to Baschdl

[2020-07-10 14:14] bjrne commented on #55
I like the idea. However, since we can't really imagine the complexity of users of our system, it would be difficult to show the relevant attributes for approving given that all of them are configurable.

Maybe a combination of both would be good? A JS hover over the name for one or two attributes and a "more info" button for the full thing on a new page?

[2020-07-10 14:23] feeds commented on #114
cause the original one uses m4h specific logic like to send it to only approved/non approved Hospitals or Students.
That does not directly translate, so we need to think about what functions we would like

[2020-07-10 14:24] feeds commented on #115
No, I did not think about that

[2020-07-10 14:26] feeds commented on #55
I bjarnes idea, but I would implement the full overview first

[2020-07-10 14:28] feeds commented on #113
I think it would be cool to use the name form the config. But we should probably use a url_name variable in case the actual name co taines spaces ect

[2020-07-10 14:30] #88 closed, assigned to nobody

[2020-07-10 14:30] feeds commented on #113
and the greater concept... i intended everything that is non user-only specific to have the A/B binding

One inconsistency in the current implementation is that the profile page is A/B specific. That is non really neccessary since that page is not accessedby someone else

[2020-07-10 14:55] bjrne opened #118 "Improve data migration and use it as inital one"
Having a data migration that adds groups and permissions but also assigns them to existing users is not really necessary in this project and most importantly, brings new problems.

Solution: Throw away the migration logic for existing users since they don't exist yet, make the group and permission creation migration the first, _initial_ migration. This enables simple migration generation respectin

[2020-07-10 15:12] Baschdl commented on #51
@match4everyone/match4everyone How should a user, which we called `staff` before, sign up? Do we have an additional hidden signup page or does a `superuser` or `is_matching_supervisor` create them?

[2020-07-10 15:21] bjrne opened #119 "Show user email and username in profile"
As a normal user of the system, I want to check what email I used in my profile information.

[2020-07-10 15:45] Baschdl opened #121 "Only approver should be able to approve"
Only user with 'can_approve_type_a' or 'can_approve_type_b' should see the corresponding approval interfaces and be able to approve someone. Currently, we only check for `is_staff`

https://github.com/match4everyone/match4everything/blob/ac991347e22c99b2ca91e181adc1bd8dde9be43c/backend/apps/matching/views/staff_approvals.py#L19

[2020-07-10 15:50] Baschdl opened #122 "View restrictions for access stats"
How do we restrict access to the access statistics according to `can_view_access_stats` when it's in a separate app which is at first independent of the `matching` app?

[2020-07-10 16:39] Baschdl commented on #113
I started in https://github.com/match4everyone/match4everything/tree/name_in_url but you probably have the better overview where `A` and `B` is used

[2020-07-10 16:47] Baschdl commented on #115
Stacked bar charts for `SingleChoiceProperty' and `OrderedSingleChoiceProperty`. A bar chart for `MultipleChoiceProperty`. A percentage for `BooleanProperty`. Do you have an idea for something else we can show in it's generality?

[2020-07-10 17:34] Baschdl opened #125 "matching_participant_required restriction of ParticipantDashboard"
@feeds What was the idea behind the `matching_participant_required` restriction here: https://github.com/match4everyone/match4everything/blob/4f4687cdfb512fda8e9f5bee6d9bb851566c27c7/backend/apps/matching/views/participant_dashboard.py#L16
I don't see how this adds any security.

[2020-07-10 18:46] Baschdl commented on #117
@maltezacharias Did you read somewhere that it's easily possible? I can't find anything on my first google search

[2020-07-10 18:47] bjrne commented on #122
Add the corresponding permission in the `stats` app migrations and check for that one. In the admin interface, permissions are grouped by their content type, which includes its app.

[2020-07-10 18:56] Baschdl opened #127 "m4h url is hardcoded in some metas"
match4healthcare.de is hardcoded in some meta tags in `base.html`. We want to have this dynamically (there was maybe a problem) or at least editable
https://github.com/match4everyone/match4everything/blob/e9578f184bab4720422d7e48292e5f48883ba01d/backend/templates/base.html#L34-L37

[2020-07-10 19:23] Baschdl commented on #116
We would need to wait for this PR for djangocms-page-meta: https://github.com/nephila/djangocms-page-meta/pull/119
Current state on https://github.com/match4everyone/match4everything/tree/djangocms-page-meta

[2020-07-10 19:28] bjrne opened #128 "Add documentation for configuration"
There is currently no documentation about it in the README. Feel free to add it to the docs if that is the better place.

[2020-07-10 19:42] Baschdl commented on #122
Problem is that it would make sense to have the `stats_view` restriction in the `stats` app and check this restriction on our profile page but our app could possible be used without the `stats` app. Maybe @kevihiiin knows the best practice for this

[2020-07-10 19:50] bjrne opened #130 "Add integration tests"
- [ ] As a user_a, I want to successfully complete the login page, visit my profile, edit my profile and log out.
- [ ] As a user_a, I want to successfully log in to the website, change my password and successfully log out and in again.
- [ ] As a user_a, I want to successfully reset my password without knowing it.
- [ ] As a user_b, I want to successfully complete the login page, search for user_

[2020-07-11 08:37] Baschdl commented on #119
email = username in our system

[2020-07-11 09:40] bjrne commented on #119
Is it though? We have both fields in our db, and for superusers, these can be different. We could theoretically offer to change the username.

Either way, if we currently do email==username, shouldn't the label also state "email/username:" ? Or do we never speak of a username on the plattform?

[2020-07-11 09:41] bjrne commented on #119
I could not find any occurences of `username` in a public facing place in the project :+1:

[2020-07-11 09:45] bjrne opened #133 "Replace last occurences of plz with zipcode in model"
Depends on #70 for less merge conflicts.

[2020-07-11 09:49] Baschdl commented on #119
Yeah, it's just the case when I create superusers with mail != username

[2020-07-11 09:54] Baschdl opened #134 "Text fields on profile edit only editable after deleting one char"
Text fields on `matching/A/info/{uuid}/edit/` are only editable after deleting one char

[2020-07-11 09:59] maltezacharias commented on #117
I didn't see anything I just asked whether the check output is indeed on STDOUT or STDERR, cause in the latter case we can easily redirect it on dumpdata. If Django outputs the checks on STDOUT I don't think there is anything we can or should do about that unless there is an option or something. Personally I don't understand why you would run the checks on a dump command but that's Django's decisi

[2020-07-11 10:01] maltezacharias commented on #55
Could just tag them in the configuration?

[2020-07-11 10:03] maltezacharias commented on #51
I don't understand the question, I think you left out a word or so`

[2020-07-11 10:11] Baschdl commented on #51
@maltezacharias Added two `,`

[2020-07-11 10:16] Baschdl commented on #117
No, I didn't use `-o`

[2020-07-11 10:27] maltezacharias commented on #51
Ahh thanks. I would suggest: Using the built-in django admin a superuser can adjust the roles of staff users. We would need to modify the Django user admin for this, by default you can't search for users (which is a problem with a userbase of >1000) and you can't create new users properly because the password input field expects the hashed password.

I think both should be easily doable by extendi

[2020-07-11 10:27] maltezacharias commented on #51
Here's a link to the pertinent django docs for search fields: https://docs.djangoproject.com/en/3.0/ref/contrib/admin/#django.contrib.admin.ModelAdmin.search_fields

[2020-07-11 10:29] maltezacharias commented on #51
Here (https://docs.djangoproject.com/en/3.0/topics/auth/default/#id6) it sounds like you should already be able to create a user from there. I think I tried that and failed, maybe I did it wrong. Need to check if user creation from django admin already works w/o problems, then adding the search field would be the only issue for a workable solution

[2020-07-11 11:14] bjrne commented on #55
Probably. But let's add that as a stretch goal :sweat_smile:
Since it also adds complexity for the user at setup time, where they might not have any clue what that option is. Sure, you can edit/update the configuration later, but this sounds like a bit of work to make the UX nice.

[2020-07-11 11:33] Baschdl commented on #51
Wouldn't a list of all staff users be easier?

[2020-07-11 11:46] maltezacharias commented on #51
Search by role would also be nice. But in m4h i needed a username/email search a couple times.

[2020-07-11 12:12] bjrne commented on #127
Would it be possible to edit this is a somewhat foolproof way with django cms? If so, it probably depends on #116 ?

[2020-07-11 12:21] maltezacharias commented on #127
Basically any app I have setup usually has like a BASE_URL setting, maybe in Config?

[2020-07-11 12:24] maltezacharias commented on #117
Did a test. First of all there is `--skip-checks` for `django-admin dumpdata`. Which does what it says. Then there is `-o` / `--output` which also does what it says and prevents the system check output from being included in the file. Mind you if using `docker-compose ... exec` in a production setting you would then need to extract your file using a solution similar to `backup.sh`.

[2020-07-11 13:40] bjrne opened #137 "Add permission check on user deletion"
Currently, any staff user can delete users without a permission check. We should add the pre-generated django permission for this.

[2020-07-11 14:27] bjrne commented on #117
So then this issue is about updating the Readme/documentation with the correct commands and possibly an explanation.

[2020-07-11 14:34] bjrne commented on #122
An academic (:wink:) way would be to have two permissions:
1. `matching.view_access_stats`
2. `stats.view_x`, `stats.view_y` (django-generated if stat types are models, else manually added)

and then combine them in a group. The assign users this group. Now `matching` would check the first permission for showing the button, and `stats` would check for the second permission to show the view.

It is

[2020-07-11 14:37] bjrne commented on #115
Or rather a pie chart for `SingleChoiceProperty`? I don't think it would make sense to group several properties into one stacked bar chart with several bars as we do not know the semantic connection between them. And a stacked bar chart with only one bar is not as beautiful and clear as a bar chart I think.

[2020-07-11 15:20] bjrne opened #139 "CMS editing reloads without css"
**Describe the bug**
After editing a text field in the cms, the page is displayed without css styles

**To Reproduce**
Steps to reproduce the behavior:
1. Log into cms with admin user
2. Click on Pages->Home-> [green blob in "german" column in table]
3. Edit "Ich besitze eine Eisdiele"
4. Save
5. See ugly page
6. Reload page and see it correct again

**Expected behavior**
The css is used after sav

[2020-07-11 15:29] bjrne opened #140 "Add icons on buttons to django cms"
The buttons sometimes come with a svg icon in them. Depending on the configuration, the current icons might not fit very well, like the "add user" and "search" icon for the two participant types on the home page right now. Making them changeable via a cms placeholder would improve this situation.

[2020-07-11 15:45] bjrne opened #141 "[cms] Language switcher breaks on language specific cms-generated slugs"
When creating a new page in django cms or adding a new language version of an existing page, django-cms pre-fills the non-optional slug field with a sanitized version of the localized page title.

Example:
When adding a german version of the "about" page, one sets the title to "Über uns", and the slug automatically turns into `uber-uns`. This is also the new url, which obviously breaks our languag

[2020-07-11 16:06] Baschdl commented on #115
Oh right, I had in mind that the x-axis is time but we don't really have a time for these choices. We could just use the registration time but stuff could be changed afterwards. Would make it a bit incorrect but may be fine.

[2020-07-11 16:19] Baschdl commented on #117
`docker-compose exec backend bash -c "python3 manage.py dumpdata --skip-checks" > dump.json` is probably the easier version

[2020-07-11 16:21] Baschdl commented on #140
The nice solution would be to use `djangocms-picture` or `django-filer` but both don't have SVG support: https://github.com/divio/django-filer/issues/460
So we probably need to insert it as html which is not exactly end user friendly

[2020-07-11 16:26] Baschdl commented on #141
Maybe this would be a reason to use django-cms language switcher? See https://github.com/match4everyone/match4everything/issues/84

[2020-07-11 16:28] bjrne opened #143 "Add test for successful loaddata of cms fixture"
The fixture can be broken, for example when exporting from a database with multiple users. Loading the fixture should be tested on travis with the `scripts/delete_db_and_setup.sh` script.

[2020-07-11 17:06] Baschdl commented on #143
Need to specify a mail and password for `createsuperuser` on travis with environment variables

[2020-07-11 17:16] Baschdl commented on #127
I guess that's a one-time setup which is set by the admin, so I would be fine with the `BASE_URL` option

[2020-07-11 17:28] Baschdl commented on #134
@feeds Any idea?

The `view` has the fields disabled
https://github.com/match4everyone/match4everything/blob/d3d22504c26c94a2aa5cb62235e59464d90d4199/backend/apps/matching/forms/participant_view_info.py#L16-L20

but the `edit` hasn't

https://github.com/match4everyone/match4everything/blob/d3d22504c26c94a2aa5cb62235e59464d90d4199/backend/apps/matching/forms/participant_edit_info.py#L17-L21

Do we

[2020-07-11 17:31] #117 closed, assigned to nobody

[2020-07-11 17:37] Baschdl commented on #143
Should we only test that the loading doesn't fail or would you test more?

[2020-07-11 18:01] bjrne commented on #143
This issue was only for the unit-test style loading test. Thorough testing would be part of #130 I think.

[2020-07-11 21:14] bjrne opened #145 "Implement 404 Handlers right"
The [django docs](https://docs.djangoproject.com/en/3.0/ref/urls/) mention that custom handlers should return the correct HttpResponse, for example `HttpResponseNotFound.` for a 404. Currently, we use the standard `HttpResponse`.

[2020-07-11 22:09] bjrne opened #147 "Replace all hardcoded urls with url tags in templates"

[2020-07-12 11:34] feeds commented on #125
It doesn't, I approved the PR

[2020-07-12 11:40] feeds commented on #55
@bjrne @maltezacharias [Currently](https://github.com/match4everyone/match4everything/blob/f62dcead1de94e10700e85e81190f3b1f88d6ba1/backend/apps/matching/models/participant_info.py#L89) you can actually already tag them in the configuration. You can set a Property to 'private' (GroupProperties propagate this setting to their children, so they are private as well). The model in 'participant-info.py

[2020-07-12 11:43] feeds commented on #55
in the config it is used like [this](https://github.com/match4everyone/match4everything/blob/f62dcead1de94e10700e85e81190f3b1f88d6ba1/backend/match4everyone/configuration/A.py#L20)

and the participant view actually already uses this [method](https://github.com/match4everyone/match4everything/blob/f62dcead1de94e10700e85e81190f3b1f88d6ba1/backend/apps/matching/forms/participant_view_info.py#L12)

i

[2020-07-12 11:55] feeds commented on #134
I don't really understand the bug report. You have to delete which char? What does not work? Submitting? Changing the text at all?

[2020-07-12 13:06] #125 closed, assigned to nobody

[2020-07-12 13:08] bjrne opened #148 "Remove p_type from deletion routes and activation routes"
Depends on #105  and #126

[2020-07-12 13:33] #76 closed, assigned to Baschdl

[2020-07-13 06:09] Baschdl commented on #147
Do you find something besides facebook, twitter, youtube and github?

[2020-07-13 06:15] Baschdl commented on #134
@feeds I cannot add chars to a text field when I visit `/edit/`. I can add chars after first deleting at least one char.

[2020-07-13 06:39] feeds commented on #134
That is a really weird bug.

We only disable fields in the view cause we want to keep the layout of the form. But other than that you cannot conclude anything from the view to the edit.

I have no idea why this is happening

[2020-07-13 08:18] bjrne commented on #147
- For example 'matching/password_change' in the participant dashboard, I am sure that I have seen more.

[2020-07-13 08:19] Baschdl commented on #68
Is this a piece of code which didn't make it from m4h because there we had a restriction on the number of mails? I would introduce it for A and B because a volunteer could also be a spammer. Any thoughts?

[2020-07-13 08:19] Baschdl commented on #68
@feeds:
Maxemails was a database entry  in m4h and also used in the code. That code didnt make it because it was hospital specific.

Editing it as a staff member was never implemented in m4h, but much desired
And introducing it for both A and B was the suggestion I made in the description in the first place:wink:

[2020-07-13 08:20] Baschdl commented on #68
So we need the page suggested by @maltezacharias where one can search for all participants and increase the maximum if requested

[2020-07-13 08:20] Baschdl commented on #68
@feeds:
yes
it could be integrated into the approvals
just a search field on top

[2020-07-13 08:20] Baschdl commented on #68
[...]

[2020-07-13 08:20] Baschdl commented on #68
What you change the approval interface? My idea was to have three different lists: 0-2 lists listing participants for approving without search, two listing participants for increasing the mails with search and one listing staff users to grant them special permissions

[2020-07-13 08:21] Baschdl commented on #68
@feeds:
i would make the approval list seaechable as well. m4h users complained when they wanted to reverse aprovals
but i can agree that two lists are fine
one for approval and one for email limits
and then one for stafg users
so 3
[...]
so 5 if you want

[2020-07-13 08:21] Baschdl commented on #68
[...]
So one would type something in the search field, press enter and then the page would reload with a filtered django_tables2
[...]
For everything else would probably need to add an REST endpoint for the search and abandon django_tables
[...]
As we have two tables on the approval page, we have to reissue a possibly other search and store the pagination

[2020-07-13 08:23] Baschdl commented on #134
Can you at least reproduce it?

[2020-07-13 08:27] Baschdl commented on #147
Ah, you're referring to the question @maltezacharias already asked in https://github.com/match4everyone/match4everything/pull/105#discussion_r452454882

[2020-07-13 09:08] bjrne commented on #139
[This](http://docs.django-cms.org/en/latest/topics/frontend-integration.html) might be the solution, but someone with more JS-expertise might be better suited to implement this right. @maltezacharias ? :)

[2020-07-13 09:27] bjrne opened #150 "CKEditor adds <p>'s around text automatically"
**Describe the bug**
When editing a snippet in django-cms, the WYSWYG Editor in use, CKEditor, automatically adds paragraphs around the whole snipped.

[2020-07-13 09:54] bjrne commented on #150
This might be harder/more stupid than anticipanted. A google search still yields forum entries from 2008, when CKEditor 3 was used. The most recent one is CKEditor 5.

So back in 2008, a LOT of people were complaining about this ([1], [2]), with one maintainer responding with snappy comments only:

Reading the forums, I think they never anticipated the usecase of their editor in a cms that is used

[2020-07-13 09:58] Baschdl opened #151 "Make approvals searchable by mail"
As a staff member with approval rights, I want to search for specific users to approve/unapprove

Discussed in #68

[2020-07-13 11:43] #148 closed, assigned to bjrne

[2020-07-13 12:13] Baschdl opened #153 "Add pages to increase mail limit of A and B"
Use the same functionality and design like the approval pages but to provide the possibility to increase the mail limit

[2020-07-13 12:16] Baschdl opened #154 "Add filter for staff users to admin page"

[2020-07-13 12:16] Baschdl opened #155 "Add search functionality to admin page"
@maltezacharias Talked somewhere about how we can do that technically, maybe even in m4h

[2020-07-13 12:19] #119 closed, assigned to Baschdl

[2020-07-13 12:21] #153 closed, assigned to nobody

[2020-07-13 12:27] #127 closed, assigned to nobody

[2020-07-13 13:24] Baschdl opened #156 "Non-influencing approval tables"
#152 has implemented search fields which reset each other when they are on the same page (approved and unapproves participants). The input in search field and the results should stay the same when only the other table is manipulated. Probably also need a "x" to clear the input again (for UX)

[2020-07-13 13:26] bjrne opened #157 "Change all routes to end in slashes"
After a quick research, I think the best practice is for links to have a trailing slash, and to redirect links without one to that url (which is built-in behaviour of django, like documented [here](https://docs.djangoproject.com/en/dev/ref/settings/#std:setting-APPEND_SLASH)).

Currently, routes whose paths do __not__ end in slashes but are entered with one, result in a 404.

There is more informa

[2020-07-13 13:44] bjrne commented on #157
[This](https://stackoverflow.com/a/42213107) answer on stackoverflow also talks about it and recommends slashes, but at the end it says:

So if we use the REST api for the filtering, this would be a heads-up for #81

[2020-07-13 15:10] Baschdl opened #158 "Hide /admin/ if a user is not logged in"
Redirect `/admin/` to 404 if the user is not logged in to make it a bit harder for automatic scripts to find our login form

[2020-07-13 17:41] Baschdl commented on #155
Here: https://github.com/match4everyone/match4healthcare/issues/466

[2020-07-14 06:00] bjrne commented on #84
The language chooser might actualy not work as expected. The built-in language switcher of django-cms does not work with our page so far. Switching the language with our switcher works visually, but when editing the page with django-cms, it seems that weird glitches arise. Needs further investigation.

[2020-07-14 08:41] Baschdl commented on #51
Search for users and filter by roles is implemented in #160. I'll look into adding users now.

[2020-07-14 11:11] maltezacharias commented on #157
For the rest framework it sounds annoying, still I'd prefer trailing slashes. Your research also points towards that.

[2020-07-14 11:14] maltezacharias commented on #139
I'll have a look

[2020-07-14 12:13] Baschdl commented on #69
Closed with #70

[2020-07-14 12:13] #69 closed, assigned to nobody

[2020-07-14 12:19] feeds opened #166 "As a staff user the django cms navbar is showed everywhere and hides parts of the navbar"
It is also misleading that specific admin pages like approving participants seem editable

[2020-07-14 12:25] feeds opened #167 "As a user participant, we are assigned to all permission groups"
@bjrne What is wrong here?

[2020-07-14 12:35] Baschdl commented on #166
That's how a editable site looks like:
![image](https://user-images.githubusercontent.com/3034832/87426211-25c0e980-c5df-11ea-86a8-cbdec5f04df0.png)
That's how the approve participants page looks like:
![image](https://user-images.githubusercontent.com/3034832/87426301-412bf480-c5df-11ea-90b3-c9d1f7a3e2c5.png)

I don't understand you're point

[2020-07-14 12:37] feeds commented on #167
Its just a really weird UX desing

[2020-07-14 12:37] #167 closed, assigned to nobody

[2020-07-14 13:01] Baschdl commented on #51
After discussion with @feeds: `is_matching_supervisor` could also be called `is_moderator` and a moderator is a person which interacts with the staff profile but doesn't use the admin page.

The django way would have been to implement the functionality of `staff_profile` as admin sites and then have moderator=staff.

[2020-07-14 13:06] Baschdl commented on #166
That the django-cms navbar is shown everywhere is the intended behavior because every page could be editable. If that confuses non-technical maintainers of the site, we have to use the `is_moderator` role from #51 because these people wouldn't be `is_staff`

[2020-07-14 13:26] maltezacharias commented on #51
But the approve/disapprove page outside of the admin interface for the less technical savvy persony is still a good idea, right?

[2020-07-14 13:32] Baschdl commented on #51
It's the non-Django way but nobody intends to change that

[2020-07-14 13:34] feeds opened #168 "Show a warning in the dashboard if the user is deactivated"

[2020-07-14 13:34] #158 closed, assigned to nobody

[2020-07-14 13:47] maltezacharias commented on #78
**Also see discussion in #27 **

Docker Containers should be configurable not to run as root because of security implications
To me the key to a solution for this would be that you can
- configure it to use a user you have setup on your system for the job
- make sure that you don't accidentally run the container as root, because that would reset permissions and cause problems later

Regarding db:

[2020-07-14 13:49] #147 closed, assigned to Baschdl

[2020-07-14 14:22] #154 closed, assigned to Baschdl

[2020-07-14 14:22] #155 closed, assigned to Baschdl

[2020-07-14 15:02] #168 closed, assigned to Baschdl

[2020-07-14 15:54] feeds opened #170 "Link the correct filter view in the map"
As a user I want to soom. into the map, when I click on detail, I should be linked to a list of people at that place

[2020-07-14 15:58] #45 closed, assigned to nobody

[2020-07-14 15:58] #68 closed, assigned to Baschdl

[2020-07-14 15:59] feeds commented on #22
Most of the discussoin is now in #51

[2020-07-14 15:59] #22 closed, assigned to nobody

[2020-07-14 15:59] Baschdl opened #171 "Check mail limit when sending mails"
#159 introduced a mail limit for A and B but this is not respected right now

[2020-07-14 16:02] #151 closed, assigned to Baschdl

[2020-07-14 16:08] Baschdl opened #172 "Visibility of pages should be specifiable in configuration"
@feeds: Depends on #120

- Can an A see the profile of all other As or only their own?
- Can a B see the profile of all other Bs or only their own?
- Can an A see the profile of all other Bs?
- Can a B see the profile of all other As?

[2020-07-14 16:09] #156 closed, assigned to nobody

[2020-07-14 17:56] #145 closed, assigned to bjrne

[2020-07-15 09:40] #157 closed, assigned to nobody

[2020-07-16 16:26] Baschdl opened #176 "Optional name for filters"
As a user with many filters I can easily be lost with all my filters but as a users with only few filters I don't want to understand what a name of a filter is.

Add a standard name or empty text field to the list of filters which can be assigned by power users but doesn't have to by standard user

[2020-07-16 16:31] Baschdl opened #177 "Limit API requests"
As an ill intented user I have access to all of our data via the filter api.

Add a limit for the number of results a api request returns and limit the total number of api requests.

Could also include a daily and total limit and a minimal time between requests.

[2020-07-17 13:12] bjrne opened #178 "Transfer JSON example configs to python config code"

[2020-07-17 13:27] bjrne opened #179 "Add costumization options for theme colors with bootstrap"
- [ ] Easy customization
- [ ] Documentation

[2020-07-17 18:04] feeds commented on #178
The json configs are just examples that will be used for generating different scenarios and to generate programmatic configs.

[2020-07-19 10:30] bjrne opened #185 "Only show complete detail to approved users"
It might be necessary to show most personal details of one participant to another, but it should be enforced that if a validation strategy exists in that instance, then only approved users can see personal details of other users.

For example, in m4h, hospitals have to be approved, therefore they should only be able to see personal details once they are an approved hospital with a validated email.

[2020-07-19 10:32] bjrne opened #186 "Make validation requirements configurable"
A future user should be able to setup easily, which users have to be approved and what consequences this has (eg what fields are visible with an without validation)

[2020-07-19 10:47] maltezacharias commented on #107
After initial discussion on documentation layout we wrote this, comments welcome!
https://cryptpad.fr/pad/#/2/pad/edit/6-i8ZviQjknCCKwCBDlGTP9Z/

A few points to discuss, we think...
* the backend.dev.env should be included in the repo with working defaults, so you can quickly get started
* mail Backend & SMTP Configuration should be available through ENV Vars like everything else that likely need

[2020-07-19 10:58] maltezacharias commented on #107
Also:
* Crossmatch with the documentatio requirements from DLR for the final summary report, maybe we can write things intentionally so, that they can be used for both
* We need your input for the cookbook section, should we do that? What should we include?

[2020-07-19 11:55] Baschdl commented on #107
A `Deploy to heroku` button would be the easiest solution for us but not immediately usable without a heroku account

[2020-07-19 12:00] Baschdl commented on #107
Everything sounds good.

From my perspective, "Cookbook > What do I need to do to ...." is the most important section

[2020-07-19 12:15] kevihiiin commented on #107
@Baschdl I would love to have a "deploy to heorku button"
There is procfile example in the Django-Cockie-Cutter respository on how to set it up (use Heroku's database server, rabbitmq, celery, etc).

What we also need for the demo instance is a way to display the mails that are sent (e.g. registration mails, found someone mail etc). We could use mailhog for that which mocks an smpt server and disp

[2020-07-19 12:19] kevihiiin commented on #107
Providing a `backend.dev.env.example` like the `.env.example` which needs to be copied, but populate the .example with actual values? Or actually write values into the `backend.dev.env`, because then we cannot easily exclude real configuration files from git anymore

[2020-07-19 13:03] feeds opened #188 "Allow users to see who they contacted and when and share their email via our plattform"

[2020-07-19 13:23] Baschdl commented on #107
I would only do this for the heroku (or whatever) setup. I wouldn't do it in the repository because it's against good style to prevent security problems

[2020-07-20 11:26] feeds opened #190 "Allow a user to edit their location"

[2020-07-20 21:18] bjrne opened #193 "[a11y] Prevent content from scrolling under navbar"
When using Shift+Tab to reverse through form fields, it is possible to highlight a field that is not visible due to the overlapping navbar.

[2020-07-21 09:26] Baschdl commented on #193
The expected behavior would be that the browser is scrolling further up such that the field is actually visible?

Are browsers (Firefox) able to do this? https://www.bmbf.de/ invested in keyboard accessibility (with own functions etc.) but even there, a Shift+Tab doesn't bring the (whole) content in view

[2020-07-21 09:42] bjrne commented on #193
I don't have a solution in mind, I am not experienced in this topic. My first question would be why the content space has to extend to under the navbar in the first place. Doesn't this also means we have additional whitespace on top and that the scrollbars extend further than they have to?

[2020-07-21 09:45] feeds opened #195 "Particiapnts are exchanged on the map"
Actually, B is A and A is B.

[2020-07-21 10:12] bjrne commented on #3
My personal todo list, since this will be several PRs:

- [x] correctly compile and include scss files with variables
- [x] use scss variables for all hardcoded style colors, apart from background colors and inline style blocks
- [x] replace btn blue with btn btn-primary

- [ ] styles aus htmls raus
- [ ] nach rgba suchen und ggf ersetzen durch vars
- [ ] wie machen wir Farben in password_set_emai

[2020-07-21 11:11] bjrne opened #197 "Generate group migrations from django settings in order to have good names"
Admins will assign groups to people when granting permissions. Thus, group names should not contain `A` or `B`, but the custom entity names from the django settings.

[2020-07-21 13:34] #113 closed, assigned to Baschdl

[2020-07-21 19:06] bjrne opened #199 "[a11y] Enable keyboard navigation in on mapview page"
The legend cannot be selected currently.

Moreover, a good strategy for using the map via keyboard navigation would be awesome.

[2020-07-22 10:42] bjrne opened #201 "RTD Documentation progress"
- **Installation**
    - [ ] Django-Admin setup for non Python Users (don't use django-admin in Docs!)
    - [ ] General chapter Docker vs. Local Environment
        - [ ] Advantages of docker env
        - [ ] Mounted Directories in Docker mode
    - [ ] Get started (developing, replacement for quick install)
        - [ ] Create Fakeusers (now also in setup script)
    - [ ] Config -> Link to Ch

[2020-07-22 10:44] bjrne opened #202 "Github io documentation progress"
- Example Installations

    - [ ] Where host it?

- Screenshots (m4h, too as an example)
- Features​​​​​​​

    - [ ] Location Based Matching of Parties
    - [ ] Connecting Participants via initial e-Mail Contact
    - [ ] Two Participants A/B
    - [ ] Structured Onboarding Form
    - [ ] Filtered configurable search
    - [ ] Mapview
    - [ ] Administrative Features
        - [ ] Approval

[2020-07-22 10:46] bjrne commented on #33
- **Introduction**
    - [ ] Netter Screenshot
    - [ ] Was ist es
    - [ ] Entstehung paar Sätze

- **Get Started**
    - [ ] Code-Beispiel aus den Docs und Link

- **Technical Documentation**
    - [ ] Link auf RTD

- **Contributing**
    - [ ] Link auf CONTRIBUTING.md

[2020-07-22 10:47] bjrne opened #203 "Update contribution md"
- [ ] Use translation tags correctly (trimmed, etc.)
- [ ] Extending the Docs

[2020-07-23 18:04] bjrne opened #207 "Think about central configuration file for names and urls..."
we currently have stuff in common.py & webpack config and possibly somewhere else. Maybe this could use a central file to get the info to prevent different names circulating.

[2020-08-11 12:30] #190 closed, assigned to feeds

[2020-08-12 14:50] feeds opened #212 "Create a sensible layout with correct text for the signup pages"
Currently, it looks very ugly

[2020-08-15 15:47] #212 closed, assigned to feeds

[2020-08-21 10:04] bjrne commented on #186
Github fail due to the "partly fixes 186"

[2020-08-21 10:29] feeds commented on #207
We definitely need to remove all the `'from match4healthcare import ...` from the project -  this dependency structure is a bit weird.
We need to import vie `django.conf.settings `instead (logic: register the participant config in the django settings for our app - this way it would also be easy to document)

[2020-08-21 10:29] feeds commented on #207
This needs one swipe over the project to make the modifications and document them.

[2020-08-21 10:30] feeds commented on #186
But I am trying to think what else we need to cover here :D

[2020-08-22 12:12] bjrne commented on #186
To me, it is not obvious, what implications this currently has apart from the validation process. For example, some fields will become publicly visible when disabling the validation process, right?

Rather than code changes, I feel like this could use more doc-strings, a paragraph in the rtdocs etc. :)

[2020-08-22 12:21] bjrne commented on #207
I think this issue was about a duality between web pack and Django, but the changes you're proposing sound interesting as well 😬

[2020-08-28 18:50] bjrne opened #220 "Populate "About" column on github with useful information"
- [ ] Link a working (heroku?) deployment
- [ ] Add description
- [ ] Add tags

[2020-09-03 10:03] maltezacharias opened #222 "Create DB and delete script not working in docker"
If running the ./scripts/delete_db_and_setup.sh scripts as shown in the docs it doesn't currently work in the docker environment. Docker will run in /backend while the script expects to run one directory above backend. The docker-compose command needs to be invoked with -w / to set the working dir to root, one level above /backend where the app is installed.

[2020-09-03 14:48] #222 closed, assigned to maltezacharias

[2020-09-12 10:02] #203 closed, assigned to nobody

[2020-10-04 10:14] #37 closed, assigned to feeds

[2020-10-04 10:14] #61 closed, assigned to feeds

[2020-10-04 10:14] #170 closed, assigned to feeds

[2020-10-04 10:14] #176 closed, assigned to feeds

[2020-10-04 10:14] #188 closed, assigned to feeds

[2020-10-04 10:14] #195 closed, assigned to feeds

[2020-10-04 13:45] #55 closed, assigned to feeds

[2020-10-04 13:45] #30 closed, assigned to feeds